{% extends 'base.html' %} {# This line extends the base.html template #}

{% block title %}Blog - Datalytics Articles{% endblock %} {# Sets the specific title for this page #}

{% block content %} {# This block contains the unique content for the blog list page #}
  <section class="section">
    <div class="category-filter-section">
      <h3>Categories:</h3>
      <ul class="category-list">
        <li><a href="{{ url_for('blog_list') }}" {% if not category_filter %}class="active"{% endif %}>All</a></li>
        {% if unique_categories %}
          {% for category in unique_categories %}
            <li><a href="{{ url_for('articles_by_category', category_name=category.lower().replace(' ', '-')) }}" {% if category_filter == category %}class="active"{% endif %}>{{ category }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>

    <h2 class="blog-page-heading">
      {% if category_filter %}
        Articles in {{ category_filter }}
      {% else %}
        All Articles
      {% endif %}
    </h2>

    {% if articles %} {# Check if the list of articles is not empty #}
      {% for article in articles %} {# Loop through each individual article #}
        <article class="blog-item">
          <h3 class="blog-title"><a href="{{ url_for('article_detail', slug=article.metadata.slug) }}">{{ article.metadata.title }}</a></h3>
          <p class="blog-meta">
            <em>{{ article.metadata.date }}</em> by <span>{{ article.metadata.author }}</span>
            {% if article.metadata.category %}
              <span class="blog-category"> | Category: {{ article.metadata.category }}</span>
            {% endif %}
          </p>
          <p class="blog-summary">{{ article.metadata.summary }}</p>
          <a href="{{ url_for('article_detail', slug=article.metadata.slug) }}" class="read-more">Read More &rarr;</a>
        </article>
      {% endfor %}
    {% else %}
      <p>No articles found.</p>
    {% endif %}
  </section>
{% endblock %} {# End of the content block #}